body { background-color: rgba(245, 221, 195, 0.859);
}

hr {  width: 10%;
      border-style: dotted none none;
      border-width: 7px;
      border-color: #525E75;
}

table, th, td {border: 1px solid black;
    border-collapse: collapse;
}

h1, h3 {
    color: #006778;
}

.avatar{
    text-align: center;
}

.homebutton {
    color: #525E75;
    border-style: solid;
    background-color: none;
    width: 30px;
    padding: 10px 20px;
    border-width: 3px;
    border-radius: 10px;
    text-decoration: none;
}